html, body
{
    text-align: center;
    margin: 0;
    padding: 0;
    background: #000000;
    color: #666666;
    line-height: 1.25em;
}

canvas
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    border: 1px solid #333333;
    background: black;
}

a
{
    color: #00CBCB;
    text-decoration: none;
    font-weight: bold;
}
a:hover
{
    color: #FFFFFF;
}

#outer
{
    position: absolute;
    top: 45%;
    left: 50%;
    width: 1px;
    height: 1px;
    overflow: visible;
}

#canvasContainer
{
    position: absolute;
    width: 1000px;
    height: 560px;
    top: -240px;
    left: -500px;
    font-family: Arial, Helvetica, sans-serif;
}

#output
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    margin-top: 0px;
    position: absolute;
    top: -20px;
    width: 98%;
}

#header
{
    font-family: Helvetica, Arial, sans-serif;/*Arial, Helvetica, sans-serif;*/
    font-size: 20px;
    margin-top: 0px;
    position: absolute;
    top: -45px;
    width: 98%;
    color: #B6B6B6;
}

#copy
{
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    bottom: -25px;
    width: 98%;
}

#footer
{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -45px;
    width: 98%;
}